#container {
	width: 512px;
}

form {
	margin-top: 16px;
	margin-bottom: 16px;
}

textarea {
	width: 256px;
	height: 96px;
	border: 1px solid #AAA;
	padding: 6px;
	font-size: 13px;
}

canvas {
	background-image: url("../images/background.png");
}

#dot-preview {
	text-align: center;
	padding: 8px;
}

label {
	font-size: 12px;
}

input[type="radio"] {
	margin-right: 8px;
}

input[type="radio"] + label {
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #999;
}

input[type="checkbox"] + label {
	padding-right: 16px;
	color: #999;
}

input[type="radio"]:checked + label {
	color: #555;
}

input[type="checkbox"]:checked + label {
	color: #555;
}

input[type="radio"], input[type="checkbox"] {
	display: none;
}
input[type="radio"] + label:before, input[type="checkbox"] + label:before {
	content: "";
	display: inline-block;
	margin-right: 4px;
	width: 12px;
	height: 12px;
	background-color: #DDD;
	transition-property: background-color;
	transition-duration: 0.4s;
}

input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before {
	background-color: #34c0f4;
}

input[type="submit"] {
	background: none;
	border: 0;
/*	border: 1px solid #AAA;*/
	font-weight: bold;
	font-size: 12px;
	padding: 4px 24px;
	color: #444;
	transition: background-color 0.4s;
}

input[type="submit"]:hover {
	background-color: #08D;
	color: #EEE;
}

input[type="submit"][disabled] {
	background-color: #DDD;
	color: #999;
}

p {
	font-size: 12px;
	text-align: center;
	color: #555;
}

#loading {
	display: none;
}

